# This is a basic workflow to help you get started with Actions

name: remember_submit_worktime

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  #  branches: [ master ]
  pull_request:
  #  branches: [ master ]
  watch:
    types: [ started ]
  schedule:
    - cron: 00 07 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  # build:
  remember_submit_worktime:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: setup python
        uses: actions/setup-python@master
        with:
          python-version: 3.7

      # Runs a set of commands using the runners shell
      - name: install-requirement
        run: |
          pip3 install -r requirements.txt
          
      - name: notify
        env:
          TOKEN: ${{ secrets.TOKEN }}
        run: |
          python3 wxgroup_cron_notify.py "各位大佬每日提醒，记得填写禅道工时"
